@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: rgb(208,228,235);
  background: linear-gradient(40deg, rgba(208,228,235,1) 0%, rgba(206,235,251,1) 53%, rgba(218,233,228,1) 78%, rgba(201,240,223,1) 100%); 
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

a:hover {
  text-decoration: none !important;
}

@media (max-width: 1600px) {
  html {
      font-size: 14px;
  }
}