@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  background: rgb(226,232,240);
  background: linear-gradient(73deg, rgba(226,232,240,1) 0%, rgba(198,218,242,1) 27%, rgba(210,224,243,1) 66%, rgba(230,235,244,1) 100%); 
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

@media (max-width: 1600px) {
  html {
      font-size: 14px;
  }
}